{% extends 'base.html.twig' %}

{% block title %}Hello StripeController!
{% endblock %}

{% block body %}
	<h3>Commande N:{{commande.id}}</h3>
	<h5>
		Crée le
		{{commande.createdAt|date }}</h5>
	{# <h5>Par
				{{client.nom}}
				{{client.prenom}}
				{{client.adresse}}</h5> #}
	<h5>Info utilisateur :
		{{app.user.email}}</h5>

	<table class="table">
		<thead>
			<tr>
				<th>Nom produit</th>
				<th>Quantité commandée</th>
				<th>Prix</th>
				<th>Sous total</th>
			</tr>
		</thead>
		<tbody>
			{% for detail in details %}
				<tr>
					<a href="{{path('home')}}">
						<td>{{ detail.detailProduit.nom }}</td>
					</a>
					<td>{{ detail.qte }}</td>
					<td>{{ detail.detailProduit.prix }}</td>
					<td>{{ detail.qte * detail.detailProduit.prix }}</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="9">Aucune commande trouvée</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
